:root {
  --main-bg-color: #efefef;
}

.painel {
  background: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.title {
  font-size: 24px;
}

.wrapper {
  min-width: 310px;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.listagem,
.listagem ul,
.listagem li {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  width: 100%;
}

.listagem ul {
  background-color:  var(--main-bg-color);
  display: none;
  padding-left: 20px;
}

.listagem li {
  cursor: pointer;
  display: table;
  height: 1.5rem;
  line-height: 1.5rem;
  position: relative;
  width: 100%;
}

.listagem li:not(.ultimo)::after {
  box-sizing: border-box;
  content: 'â¯';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 14px;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.4s ease;
  width: 24px;
}

input {
  cursor: pointer;
  height: 14px;
  left: 0;
  margin: 0 3px;
  position: absolute;
  top: 5px;
  width: 14px;
}

label {
  cursor: pointer;
  display: block;
  padding-left: 1.5rem;
}

label:hover {
  background-color: #ddd;
}

.visible > ul {
  display: table;
}

.visible::after {
  color: #015CC8;
  transform: rotate(270deg) !important;
}